# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
backend/.env

# Local generated data
# backend/storage/  # per la demo online lo carichiamo già indicizzato
backend/logs/

# Cache
.cache/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.log

# Node / frontend future
node_modules/
dist/
build/
